<p>posts works!</p>
<div class="row">
    <div class="col-md-4" *ngFor="let post of postd">
        <div class="card">
            <div class="card-header">
                {{post.title}}

            </div>
            <div class="card-body">
                {{post.body}}

            </div>
            <div class="card-footer d-flex justify-content-between">
                <button class="btn btn-primary">edit</button>
                <button class="btn btn-danger">delete</button>
            </div>
        </div>

    </div>
</div>